.zero-raduis {
  border-radius: 0px !important;
}

a {
  color: #009970;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  color: #009970;
}

h3 {
  font-size: 12px;
  display: inline-block;
  color: #009970;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formContentRegister {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 900px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  padding: 2px;
  text-align: right;
  width: 90%;
}

/* FORM TYPOGRAPHY*/
input[type="button"],
input[type="submit"],
a[type="button"] {
  background-color: #009970;
  border: none;
  color: white;
  width: 85%;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 5px 20px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
a[type="button"]:hover {
  background-color: #048664;
}

input[type="text"],
input[type="email"],
.form-select {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
.form-select:focus {
  background-color: #fff;
  border-bottom: 2px solid #009970;
}

input[type="text"]:placeholder,
input[type="email"]:placeholder,
.form-select:placeholder {
  color: #cccccc;
  place-content: left;
}

#formContent .logo,
#formContentRegister .logo {
  overflow: hidden;
  padding: 7px 25px 7px 25px;
  background: #009970;
}

#formContent .logo img,
#formContentRegister .logo img {
  padding: 0;
  margin: 0;
  max-height: 75px;
}
